@font-face {
  src: url('../fonts/Cairo-SemiBold.ttf');
  font-family: 'cairo-semibold';
}

* {
  font-family: 'cairo-semibold'
}

body {
  margin: 0;
}

nav {
  height: 50px;
  background-color: #a053e7;

  #logo {
    padding: 10px;
    float: left;
    margin-left: 30px;

    a {
      float: left;
      height: 30px;
      width: 30px;
      border-radius: 15px;

      #logo-img {
        height: 30px;
        border-radius: 15px;
      }
    }
  }

  #nav-right {
    float: right;

    >div {
      float: left;
    }

    .guest,
    .member {
      padding: 10px 6px;

      button,
      a {
        font-size: 16px;
        border: none;
        background-color: white;
        // border-radius: 15px;
        padding: 0 10px;
        outline: none;

        &:hover {
          background-color: #0000bb;
          color: white;
        }

        &:active {
          color: #ff7373;
        }
      }

      a {
        text-decoration: none;
        cursor: pointer;
      }
    }

    #profile {
      padding: 7px;
      height: 36px;

      a {
        text-decoration: none;
        background-color: white;
        border-radius: 18px;
        float: left;
        padding: 3px 3px;
        height: 30px;
        max-width: 30px;
        overflow: hidden;
        transition: max-width 0.8s linear;

        img {
          height: 30px;
          float: left;
        }

        label {
          cursor: pointer;
          box-sizing: content-box;
          padding: 0 10px;
        }
      }
    }

    #lang {
      box-sizing: border-box;
      height: 50px;
      width: 60px;
      padding: 15px 15px 15px 0;

      #lang-btn {
        margin: 0 0 0 15px;
        cursor: pointer;
        height: 20px;
        width: 30px;
        background: none;
        border: none;
        padding: 0;
        outline: none;

        img {
          height: 20px;
        }
      }

      #lang-block {
        position: absolute;
        display: none;
        background-color: #6301be;
        box-sizing: content-box;
        padding: 2px 0;
        width: 60px;
        box-shadow: 0px 2px 4px;
        margin-top: 5px;

        .lang {
          padding: 10px 15px;
          height: 20px;

          a {
            float: left;
            height: 20px;

            img {
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  nav {
    #nav-right {
      #profile {
        a {
          &:hover {
            max-width: 320px;
          }
        }
      }
    }
  }
}